.carousel {
    margin-top: 8rem;

    &__item {
        height: 60rem;
        background-size: cover;
        background-position: center;
        position: relative;

        &--1 {
            background-image: url(../img/slide-01.jpg);
        }

        &--2 {
            background-image: url(../img/slide-02.jpg);
        }

        &--3 {
            background-image: url(../img/slide-03.jpg);
        }
    }

    &__text {
        font-size: $font-bg;
        color: $color-white;
        text-align: center;
        width: 60rem;
        @include absCenter;
        left: 65%;

        &--left {
            left: 35%;
        }
    }

    &-indicators {
        li {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin: 0 8px;
        }
    }
}
