.nosotros {

    &__box {
        width: 60%;
        margin: 0 auto;

        @media only screen and (max-width: $bp-lg) {
            width: 100%;
        }
    }

    &__banner {
        width: 100%;
        margin: 2rem 0 20rem 0;
        position: relative;

        @media only screen and (max-width: $bp-lg) {
            margin: 2rem 0;
        }
    }

    &__banner-img {
        width: 85%;
        margin: 0 auto;
        display: block;

        @media only screen and (max-width: $bp-sm) {
            width: 95%;
        }
    }

    &__scroll-box {
        width: 2.5rem;
        @include absCenter;
        top: initial;
        bottom: -11rem;
        transition: all .2s;

        &:hover {
            bottom: -12rem;
            transform: translate(-50%, -50%) scale(1.1);
        }
    }

    &__scroll {
        width: 100%;
    }

    &__sat {
        border-top: 1px solid $color-dark;
        border-bottom: 1px solid $color-dark;
        padding: 3rem 0;

        h2 {
            font-size: $font-bg;
            color: $color3;
            text-align: center;
            text-transform: uppercase;
        }

        p {
            margin-top: 2rem;
            text-align: justify;
        }
    }

    &__karuna {
        display: flex;
        margin-top: 8rem;

        @media only screen and (max-width: $bp-lg) {
            flex-direction: column-reverse;
        }
    }

    &__karuna-text {
        flex: 0 0 50%;
        text-align: justify;
        padding: 2rem;

        @media only screen and (max-width: $bp-lg) {
            padding: 2rem 0;
        }
    }

    &__karuna-heading {
        flex: 0 0 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            text-transform: uppercase;
            font-size: 8.5rem;
            color: $color1;

            span {
                font-size: 4.5rem;
                color: $color-grey;
                display: block;
            }
        }
    }

    &__video {
        width: 100%;
        height: 40vw;
        max-height: 55rem;
        background-color: $color-grey;
        margin: 5rem 0;
    }

    &__dharma {
        background-image: url(../img/mandala-background.png);
        background-size: cover;
        background-position: center bottom;
    }

    &__dharma-img {
        width: 15rem;
        margin: 0 auto;
        display: block;
        margin-bottom: 2rem;
    }

    &__mision,
    &__vision {
        margin: 4rem 0;

        h4 {
        color: $color3;
        font-size: $font-lg;
        font-weight: $bold;
        margin-bottom: 2rem;
        }

        p {
            text-align: justify;
        }
    }
}